footer {
    padding-top: 7vh;
    padding-bottom: 7vh;
    background-color: $alt-black;
    width: calc(100vw - 60px);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;


    @include breakpoint(mobileonly) {
        text-align: left;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img.logo {

        max-width: 120px;
    }

    p {
        color: #999;
        font-size: 13px;
    }

    ul {
        list-style-type: none;
        margin-top: 30px;
        margin-bottom: 30px;

        li {
            display: inline;
            margin-right: 15px;
            margin-left: 15px;

            @include breakpoint(mobileonly) {
                display: block;
                margin-left: 0;
                margin-right: 0;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            &.social {
                margin-right: 15px;
                margin-left: 15px;

                @include breakpoint(mobileonly) {
                    display: inline;
                    margin-left: 0;
                }

                a {
                    font-size: 25px;
                }
            }

            a {
                font-family: $font-nav;
                color: white;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 11px;
                text-transform: uppercase;
            }
        }
    }
}